// @import "../../node_modules/@fontsource/inter/index.css";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "./design-preferences.scss";
@import "./shadcn.scss";
@import "./root-and-body.scss";
@import "./headings-and-paragraphs.scss";
@import "./prose.scss";
@import "./misc.scss";
@import "./custom-templates.scss";
@import "./legacy.scss";
@import "./sidebar.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import "./searchbar.scss";
@import "./table-of-conents.scss";
@import "./chatbot.scss";
@import "./coding-languages.scss";
@import "./landingpage.scss";
@import "./mobilelanding.scss";
@import "./cards.scss";
@import "./blog.scss";

