// @import "../../node_modules/@fontsource/inter/index.css";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "./design-preferences.scss";
@import "./shadcn.scss";
@import "./root-and-body.scss";
@import "./headings-and-paragraphs.scss";
@import "./prose.scss";
@import "./misc.scss";
@import "./custom-templates.scss";
@import "./legacy.scss";
@import "./sidebar.scss";
@import "./navbar.scss";
@import "./footer.scss";
@import "./searchbar.scss";
@import "./table-of-conents.scss";
@import "./chatbot.scss";
@import "./coding-languages.scss";
@import "./landingpage.scss";
@import "./mobilelanding.scss";
@import "./cards.scss";
@import "./blog.scss";

// //add this to your custom.scss file to change the color of the code blocks

// //add styling .scss for docusaurus toc to be sticky on the right side of the page and scrollable





/* For readability concerns, you should choose a lighter palette in dark mode. */








// /* For readability concerns, you should choose a lighter palette in dark mode. */
// [data-theme="dark"] {
//   --ifm-color-primary: #9666ff;
//   --ifm-color-primary-dark: #7d42ff;
//   --ifm-color-primary-darker: #7130ff;
//   --ifm-color-primary-darkest: #4e00fa;
//   --ifm-color-primary-light: #ae8aff;
//   --ifm-color-primary-lighter: #bb9cff;
//   --ifm-color-primary-lightest: #dfd1ff;
//   --ifm-background-color: #000000;
//   --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
// }

// .landing {
// }

// [data-theme="dark"] #docusaurus_skipToContent_fallback > div {
//   backdrop-filter: blur(16px) saturate(180%);
//   -webkit-backdrop-filter: blur(16px) saturate(180%);
//   background-color: rgba(17, 25, 40, 0.75);
//   border: none;
// }



// [data-theme="light"] #docusaurus_skipToContent_fallback > div {
//   backdrop-filter: blur(16px) saturate(180%);
//   -webkit-backdrop-filter: blur(16px) saturate(180%);
//   background-color: white;
//   border: none;
// }


























