[data-theme="dark"] .footer--dark {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: transparent;
  border: none;
}

[data-theme="light"] .footer--dark {
  color: #0d0d0d;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: transparent;
  border: none;
  .footer__title,
  .footer__link-item {
    color: #0d0d0d;
  }
}

.pagination-nav__sublabel {
  display: none;
}

.pagination-nav__link {
  display: flex;
}

// .pagination-nav__link--prev::before {
//   content: url("/buttons/prev.svg")
// }

.pagination-nav__link--prev {
  .pagination-nav__label::before {
    content: none;
    background-color: #1c1c1c !important;
    align-self: center;
    justify-self: center;
    text-align: center;
    text-justify: auto;
    padding-left: 2px;
  }
}

.pagination-nav__link--next {
  .pagination-nav__label::after {
    content: none;
    background-color: #1c1c1c !important;
    align-self: center;
    justify-self: center;
    text-align: center;
    text-justify: auto;
    padding-left: 2px;
  }
}

.pagination-nav__link {
  padding: 0px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  width:fit-content;
  background-image: linear-gradient(
    to right,
    rgba(16, 185, 129, 0),
    $color-1,
    $color-1-2
  );
  opacity: 1;

  .pagination-nav__label {
    padding-top: 0.5em;
    padding: 0.8rem;
    background-color: #1c1c1c !important;
    width: 100%;
    height: 97%;
    color: white;
    text-align: center;
    text-justify: auto;
    color: var(--text-primary-light, #FFF);

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-weight: 400;
  }
}

.pagination-nav__link--next {
  justify-self: end !important;
}

.pagination-nav__link--prev {
  justify-self: start !important;
}

.pagination-nav__link--prev:hover {
  color: unset;
}

.pagination-nav__link--:hover {
  color: unset;
}

.pagination-nav__sublabel {
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.025rem;
}



.pagination-nav__label {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3375rem; /* 133.75% */
  letter-spacing: -0.005rem;
}

.github {
  overflow: hidden;
  display: inline-block; /* Allows sizing */
  width: 24px; /* Set the width for your icon */
  height: 24px; /* Set the height for your icon */
  background-image: url("/svgs/github.svg"); /* Path to your SVG icon */
  background-size: cover; /* Ensures the icon covers the element */
  cursor: pointer;
  a {
    color: transparent !important;
  }
}

.instagram {
  overflow: hidden;
  display: inline-block; /* Allows sizing */
  width: 24px; /* Set the width for your icon */
  height: 24px; /* Set the height for your icon */
  background-image: url("/svgs/instagram.svg"); /* Path to your SVG icon */
  background-size: cover; /* Ensures the icon covers the element */
  cursor: pointer;
  a {
    color: transparent !important;
  }
}

.discord {
  overflow: hidden;
  display: inline-block; /* Allows sizing */
  width: 24px; /* Set the width for your icon */
  height: 24px; /* Set the height for your icon */
  background-image: url("/svgs/discord.svg"); /* Path to your SVG icon */
  background-size: cover; /* Ensures the icon covers the element */
  cursor: pointer;
  a {
    color: transparent !important;
  }
}

.linkedin {
  overflow: hidden;
  color: transparent !important;
  display: inline-block; /* Allows sizing */
  width: 24px; /* Set the width for your icon */
  height: 24px; /* Set the height for your icon */
  background-image: url("/svgs/linkedin.svg"); /* Path to your SVG icon */
  background-size: cover; /* Ensures the icon covers the element */
  cursor: pointer;
  a {
    color: transparent !important;
  }
}

[class^="iconExternalLink"] {
  display: none !important;
  // styles for classes starting with "iconExternalLink"
}

.footer {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}

#__docusaurus > footer > div > div.row.footer__links > div:nth-child(1) {
  flex: 0 0 calc(var(--doc-sidebar-width) - 25px);
  // background: red;
}

#__docusaurus > footer > div > div.row.footer__links > div:nth-child(1) ul {
  display: flex;
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  justify-content: flex-start;
  // background: red;
}

#__docusaurus > footer > div > div.row.footer__links > div:nth-child(1) > div {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers the footer content vertically */
  justify-content: center; /* This centers the footer content horizontally */
  padding: 20px; /* Adjust the padding to set the desired amount of space around the content */
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-fluid {
  display: flex;
  width: 100%; /* Ensures the container takes the full width */
  max-width: 1200px; /* Adjust this to set the maximum width you desire */
  margin: auto; /* This centers the container in the middle of the page */
}

.row.footer__links {
  width: 90%;
  display: flex;
  justify-content: space-between; /* This spreads the columns evenly across the available space */
}

.footer ul .social {
  margin: 0 10px; /* Add some space between the icons */
}

.footer__copyright {
  color: var(--text-secondary-light, #A2A1A5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#__docusaurus > footer.footer {
  border-top: 0.5px solid rgba(162, 161, 165, 0.50);
}