[data-theme="dark"] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white !important;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
    "Noto Sans", sans-serif, "system-ui", "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;

    // font-family: Inter;
  }

  p, li {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
    "Noto Sans", sans-serif, "system-ui", "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    color: #A2A1A5 !important
  }
}

row {
  background-image: radial-gradient(
    circle at 200% 104%,
    #e03c3c 3%,
    #ffffff 71%
  ) !important;
}

[data-theme="light"] {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black !important;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
    "Noto Sans", sans-serif, "system-ui", "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  }
}

h1 {
  font-size: 32.25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.645px;
}

h2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.5px;
}

p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.4px; /* 133.75% */
  letter-spacing: -0.08px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.main-heading {
  font-size: 100px;
}

h1 {
  font-size: 32.25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.645px;
}

h2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}

h5 {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.26px;
}

h6 {
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.2px;
}

$base-margin: 0.5em;

// Helper mixin for vertical margin
@mixin vertical-margin($size) {
  margin-top: $size;
  margin-bottom: $size;
}

// Headings
h1 {
  @include vertical-margin($base-margin * 2);
}

h2 {
  @include vertical-margin($base-margin * 1.75);
}

h3 {
  @include vertical-margin($base-margin * 1.5);
}

h4 {
  @include vertical-margin($base-margin * 1.25);
}

h5 {
  @include vertical-margin($base-margin);
}

h6 {
  @include vertical-margin($base-margin);
}

// Paragraphs
p {
  @include vertical-margin($base-margin);
}

// Unordered Lists
ul {
  @include vertical-margin($base-margin);
  // Reset margin for nested lists
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// List Items
li {
  margin-bottom: $base-margin * 0.25; // Smaller bottom margin for list items
}

.theme-doc-markdown {
  ul {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

// Images
img {
  @include vertical-margin($base-margin);
}

a {
  color: $color-1; /* Default link color */
  text-decoration: none; /* Remove underline by default */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
  "Noto Sans", sans-serif, "system-ui", "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

a:hover {
  color: $color-1; /* Change color on hover */
  text-decoration: underline; /* Underline on hover */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
  "Noto Sans", sans-serif, "system-ui", "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.markdown li > p {
  margin-top: 1rem !important;
}
