

.dev-docs-landing {
  min-height: 220ch;
  display: block;
  justify-content: center;
  align-items: center;
  opacity: 1;
  > h1 {
    font-size: 4.88313rem;
    font-family: Inter;

    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.02444rem;
    a {
      color: #cecef8;
    }
  }

  h1 {
    color: #eee;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 4.88313rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.02444rem;
  }

  .mobile {
    display: none !important;
  }

  > h2,
  h3,
  h4,
  h5,
  h6 {
    // padding-left: 10em;
    // padding-right: 10em;
    // letter-spacing: -1.6px;
  }

  > .content {
    padding-left: 10em;
    padding-right: 10em;
    display: flex;
    flex-direction: column;
    width: 108rem;
    height: 93.25rem;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: flex-start;
    // backdrop-filter: blur(5px);
  }
}

[id="Launch your Documents"], [id="with <a href=&quot;https://dev-docs.io&quot; >Dev-Docs</a>"]
{
  font-size: 4.88313rem;
  font-family: Inter;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.02444rem;
  a {
    color: #cecef8;
  }
}

[id="We are a documentation platform that helps developers generate, query, and search documentation using AI."] {
  // Your styles here
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 43.3125rem !important;
}

.main-btn {
  border-radius: 0.4375rem;
  border: 2px solid #a4fad1;
  background: #031a0f;
}
[id="Why Dev-Docs?"] {
  margin-top: 3.5em;
  text-align: center;
  color: #ddd;
  text-align: center;
  font-family: Inter;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

[id="Integrates with the tools you love"] {
  color: #ddd;
  font-family: Inter;
  font-size: 1.6rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.integration-grid {
  background: transparent !important;
  padding-left: unset !important;
  padding-top: 2rem !important;
  margin-bottom: 5.12rem !important;
  .content {
    padding: 0px !important;
  }
}

.draggable-grid {
  background: transparent !important;
  h1 {
    color: #ddd;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .general-card {
    border-radius: 0.4375rem;
    border: 1px solid rgba(54, 59, 69, 0.5);
    background: #0b101a;
  }
}

.second-hero {
  // background-color: #0B101A !important;
  // border-radius: 44.0625rem;
  background-image: url("/img/Ellipse.png") !important;
  background-position: top left;
  background-repeat: no-repeat !important;
  // padding: unset !important;
}

.third-hero {
  // background-color: #0B101A !important;
  // border-radius: 44.0625rem;
  background-image: url("/img/dev-docs-assets/internalbglanding.png") !important;
  background-position: top left;
  background-repeat: no-repeat !important;
  background-color: #eee !important;
  h1, h2, h3, h4, h5, h6, p {
    color: #222731 !important;
  }
  .draggable-item {
    box-shadow: unset !important;
  }
  // padding: unset !important;
}

.fourth-hero {
  // background-color: #0B101A !important;
  // border-radius: 44.0625rem;
  // background-image: url("/img/dev-docs-assets/internalbglanding.png") !important;
  // background-position: top right !important;
  // background-repeat: no-repeat !important;
  background-color: transparent !important;
flex-shrink: 0;
width: 100vw;
border-radius: 0.4375rem;

  h1, h2, h3, h4, h5, h6, p {
    color: #222731 !important;
  }
  
  .draggable-item {
    box-shadow: unset !important;
  }
  > .content {
    padding-left: 10em !important;
    padding-right: 10em !important;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    height: 93.25rem;
    flex-shrink: 0;
    height: 26.875rem;
    align-items: flex-start;
    justify-content: flex-start;
    
    // backdrop-filter: blur(5px);
  }

  .draggable-logo-grid {
    .draggable-logo-grid {
    background: #CDCDCD !important;
    height: 100%;
    }
  }

  .test {
    width: 101.75rem;
height: 26.875rem;
flex-shrink: 0;
border-radius: 0.4375rem;
background: #CDCDCD;
  }
  // padding: unset !important;
}

.filler-card {
  background-color: transparent !important;
  height: 100%;
}

.second-hero-text {
  padding-left: 10em !important;
  padding-right: 10em !important;
}

[id="Make it easy for"],
[id="internal documentation"],
[id="Want to talk?"], [id="World Class Developer Docs"], [id="powered by AI"] {
  color: #eee;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 3.90625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.0195rem;
}

.image-container {
  // background: red !important;
  min-width: 80vw !important;
  padding: unset !important;
}

.iframe-wrapper {
  iframe {
    width: 100% !important;
    min-height: 20vw !important;
  }
}

.contact {
  border-radius: 0.4375rem !important;
  width: 101.75rem;
  height: 26.875rem;
  width: 101.75rem;
height: 26.875rem;
flex-shrink: 0;
background: #0b101a !important;
}

.contact-btn {
  box-shadow: -2px -2px 13px 0px rgba(57, 0, 255, 0.80) inset;
  filter: drop-shadow(0px 0px 40px #4015D4);
}

@import "./mobilelanding.scss";





.main-heading {
  font-size: 100px;
}

@media (max-width: 767px) {
  .ProseMirror .column-block {
    grid-auto-flow: row;
    gap: 16px;
  }

  @media (max-width: 767px) {
    .ProseMirror .column-block {
      grid-auto-flow: row;
      gap: 16px;
    }

    .draggable-item {
      flex-direction: row !important;
    }

    .main-heading {
      font-size: 4.5rem;
    }

  

    .content {
      display: block !important;
      min-height: 40ch;
      padding: 2% !important;
    }
  }
}

[data-theme="dark"] {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
    font-family: Inter;
  }
}

[data-theme="light"] {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black !important;
  }
}

h1 {
  font-size: 32.25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.645px;
}

h2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.5px;
}

p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.4px; /* 133.75% */
  letter-spacing: -0.08px;
}

.node-ResizableImage {
  width: fit-content;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */



.content {
  padding: 2rem;
}

.ProseMirror {
  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}

.ProseMirror .column-block {
  width: 100%;
  display: grid;
  cursor: pointer;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 24px;
  padding: 8px 0;
  justify-content: center;
}

.ProseMirror .column {
  overflow: auto;
  border: 1px gray dashed;
  border-radius: 8px;
  padding: 8px;
  margin: -8px;
}

.draggable-item {
  display: flex;
  padding: 0.1rem;
  margin: 0.1rem 0;
  // border: 2px solid darken(#0D0D0D, 10%);
  background: transparent;
  color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);

  .drag-handle {
    flex: 0 0 auto;
    position: relative;
    width: 1rem;
    height: 1rem;
    top: 0.3rem;
    margin-right: 0.5rem;
    cursor: grab;
    background-image: url("data:image/svg+xml;charset=UTF-8,");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .content {
    flex: 1 1 auto;
  }

  // div {
  //   height: 100% !important;
  // }
}

.language-markdown {
  opacity: 0;
  height: 10px;
  width: 10px;
  overflow: scroll;
  // Clip: rect(0 0 0 0)
}

#docusaurus_skipToContent_fallback > main > pre {
  position: fixed;
  opacity: 0;
  height: 10px;
  width: 10px;
  overflow: scroll;
  padding: 0px;
  margin: 0px;
  top: -10px;
}

.button-link {
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #23263bd1;
  border: 1px solid hsla(0, 0%, 100%, 0.125);
  border-radius: 12px;
  color: #fff;
  padding: 0.5em;
}

.glass-morph {
  background: radial-gradient(
      100% 359.18% at 0% 0%,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.2) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 2rem;
  border-radius: 20px;
  min-width: 100%;
  min-height: 100%;
}






.menu__link--sublist-caret:after,
.menu__caret:before {
  background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7.41 15.16L12 10.58l4.59 4.58L18 13.75l-6-6-6 6 1.41 1.41z' /></svg>");
}



@media (max-width: 767px) {
  .ProseMirror .column-block {
    grid-auto-flow: row;
    gap: 16px;
  }

  .node-draggableItem {
    flex-direction: column-reverse !important;
  }
}



[data-theme="dark"] #docusaurus_skipToContent_fallback > div {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: none;
}



[data-theme="light"] #docusaurus_skipToContent_fallback > div {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: white;
  border: none;
}


/* Background styles */


// body::-webkit-scrollbar {
//   width: 8px;
//   background-color: var(--ifm-color-primary-dark);
// }

// body::-webkit-scrollbar-thumb {
//   background-color: hsl(162, 77%, 40%);
// }

/* Glassmorphism card effect */
// .card {
//   backdrop-filter: blur(0px) saturate(180%);
//   -webkit-backdrop-filter: blur(0px) saturate(180%);
//   background-color: rgba(17, 25, 40, 0.87);
//   border-radius: 12px;
//   border: 1px solid rgba(255, 255, 255, 0.125);
// }




.content {
  padding: 2rem;
}



.ProseMirror .column-block {
  width: 100%;
  display: grid;
  cursor: pointer;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 24px;
  padding: 8px 0;
  justify-content: center;
}

.ProseMirror .column {
  overflow: auto;
  border: 1px gray dashed;
  border-radius: 8px;
  padding: 8px;
  margin: -8px;
}

.draggable-item {
  display: flex;
  padding: 0.1rem;
  margin: 0.1rem 0;
  // border-radius: 20px;
  // background: white;
  // color: black;
  // box-shadow:
  //   0 0 0 1px rgba(0, 0, 0, 0.05),
  //   0px 10px 20px rgba(0, 0, 0, 0.1),
  // ;

  .drag-handle {
    flex: 0 0 auto;
    position: relative;
    width: 1rem;
    height: 1rem;
    top: 0.3rem;
    margin-right: 0.5rem;
    cursor: grab;
    background-image: url("data:image/svg+xml;charset=UTF-8,");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .content {
    flex: 1 1 auto;
  }
}

.button-link {
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #23263bd1;
  border: 1px solid hsla(0, 0%, 100%, 0.125);
  border-radius: 12px;
  color: #fff;
  padding: 0.5em;
}

.glass-morph {
  background: radial-gradient(
      100% 359.18% at 0% 0%,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.2) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 2rem;
  border-radius: 20px;
  min-width: 100%;
  min-height: 100%;
}


.content {
  // white-space: nowrap;
  // display: flex;
  // padding-left: 0px;
  // padding-right: 0px;
  div:first-child {
    display: inherit;
    gap: inherit;
    align-content: inherit;
    align-items: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    flex-wrap: inherit;
    flex-flow: inherit;
    margin: 0px;
    width: 100%;
    // background: orange;
  }

  .node-draggableItem {
    flex-basis: 70%;
  }

  .inner-card {
    background: radial-gradient(
        100% 359.18% at 0% 0%,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0.2) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    padding: 1em;
    backdrop-filter: blur(15px);
    width: 100%;
    border-radius: 0.5rem;
    /* Note: backdrop-filter has minimal browser support */
  }
}


