@import url('/landing-page/fonts/puffin-arcade-regular.ttf');

@font-face {
  font-family: 'Puffin Arcade';
  src: url('/landing-page/fonts/puffin-arcade-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}