.dev-docs-landing {
  min-height: 200ch;
  display: block;
  justify-content: center;
  align-items: center;
  opacity: 1;
  > h1 {
    font-size: 4.88313rem;
    font-family: Inter;

    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.02444rem;
    a {
      color: #cecef8;
    }
  }

  h1 {
    color: #eee;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 4.88313rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.02444rem;
  }

  > h2,
  h3,
  h4,
  h5,
  h6 {
    // padding-left: 10em;
    // padding-right: 10em;
    // letter-spacing: -1.6px;
  }

  > .content {
    padding-left: 10em;
    padding-right: 10em;
    display: flex;
    flex-direction: column;
    width: 108rem;
    height: 93.25rem;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: flex-start;
    // backdrop-filter: blur(5px);
  }
}

[id="Launch your Documents"], [id="with <a href=&quot;https://dev-docs.io&quot; >Dev-Docs</a>"]
{
  font-size: 4.88313rem;
  font-family: Inter;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.02444rem;
  a {
    color: #cecef8;
  }
}

[id="We are a documentation platform that helps developers generate, query, and search documentation using AI."] {
  // Your styles here
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 43.3125rem !important;
}

.main-btn {
  border-radius: 0.4375rem;
  border: 2px solid #a4fad1;
  background: #031a0f;
}
[id="Why Dev-Docs?"] {
  margin-top: 3.5em;
  text-align: center;
  color: #ddd;
  text-align: center;
  font-family: Inter;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

[id="Integrates with the tools you love"] {
  color: #ddd;
  font-family: Inter;
  font-size: 1.6rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.integration-grid {
  background: transparent !important;
  padding-left: unset !important;
  padding-top: 2rem !important;
  margin-bottom: 5.12rem !important;
  .content {
    padding: 0px !important;
  }
}

.draggable-grid {
  h1 {
    color: #ddd;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .general-card {
    border-radius: 0.4375rem;
    border: 1px solid rgba(54, 59, 69, 0.5);
    background: #0b101a;
  }
}

.second-hero {
  // background-color: #0B101A !important;
  // border-radius: 44.0625rem;
  background-image: url("/img/Ellipse.png") !important;
  background-position: top left;
  background-repeat: no-repeat !important;
  // padding: unset !important;
}

.third-hero {
  // background-color: #0B101A !important;
  // border-radius: 44.0625rem;
  background-image: url("/img/dev-docs-assets/internalbglanding.png") !important;
  background-position: top left;
  background-repeat: no-repeat !important;
  background-color: #eee !important;
  h1, h2, h3, h4, h5, h6, p {
    color: #222731 !important;
  }
  .draggable-item {
    box-shadow: unset !important;
  }
  // padding: unset !important;
}

.fourth-hero {
  // background-color: #0B101A !important;
  // border-radius: 44.0625rem;
  // background-image: url("/img/dev-docs-assets/internalbglanding.png") !important;
  // background-position: top right !important;
  // background-repeat: no-repeat !important;
  background-color: transparent !important;
flex-shrink: 0;
width: 100vw;
border-radius: 0.4375rem;
background: #CDCDCD;
  h1, h2, h3, h4, h5, h6, p {
    color: #222731 !important;
  }
  
  .draggable-item {
    box-shadow: unset !important;
  }
  > .content {
    padding-left: 10em !important;
    padding-right: 10em !important;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    height: 93.25rem;
    flex-shrink: 0;
    height: 26.875rem;
    align-items: flex-start;
    justify-content: flex-start;
    // backdrop-filter: blur(5px);
  }

  .test {
    width: 101.75rem;
height: 26.875rem;
flex-shrink: 0;
border-radius: 0.4375rem;
background: #CDCDCD;
  }
  // padding: unset !important;
}

.filler-card {
  background-color: transparent !important;
  height: 100%;
}

.second-hero-text {
  padding-left: 10em !important;
  padding-right: 10em !important;
}

[id="Make it easy for"],
[id="internal documentation"],
[id="Want to talk?"] {
  color: #eee;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 3.90625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.0195rem;
}

.image-container {
  // background: red !important;
  min-width: 80vw !important;
  padding: unset !important;
}

.iframe-wrapper {
  iframe {
    width: 100% !important;
    height: 20vw !important;
  }
}

.contact {
  border-radius: 0.4375rem !important;
  width: 101.75rem;
  height: 26.875rem;
  width: 101.75rem;
height: 26.875rem;
flex-shrink: 0;
background: #0b101a !important;
}

.contact-btn {
  box-shadow: -2px -2px 13px 0px rgba(57, 0, 255, 0.80) inset;
  filter: drop-shadow(0px 0px 40px #4015D4);
}