p {
    margin: 0px !important;
  }
  
  .code-card {
    p {
      display: none !important;
    }
    > div {
      p {
        display: none !important;
      }
    }
  }
  
  .draggable-grid {
    display: flex !important;
    flex-wrap: wrap !important;
    background: black !important;
    min-height: 20em;
    justify-content: center;
    flex-direction: row !important;
    gap: 0.2em; /* space between cards */
    p {
      display: none !important;
    }
  
    .node-ResizableImage {
      display: flex;
      width: fit-content;
      flex: 1 1 10%;
      min-height: 100%;
  
      .react-component {
        width: 100% !important;
        height: 100% !important;
  
        img {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  
    .content {
      display: inherit;
      flex-wrap: inherit;
      flex-direction: inherit;
      gap: inherit;
      justify-content: inherit;
    }
  
    .node-draggableItem {
      flex: 1 1 calc(25% - 1em) !important;
    }
  
    .image-card {
      flex: 1 1 calc(25% - 1em) !important;
    }
  
    .draggable-item {
      flex-direction: column;
      //border: 1px solid #CAD0D2;
      flex: 0 1 calc(20% - 1em);
      > div {
        height: 100% !important;
      }
      > .content div:first-child {
        height: 100% !important;
      }
      pre {
        height: 100% !important;
      }
      p {
        display: block !important;
      }
    }
  }
  
  .draggable-logo-grid {
    display: flex !important;
    flex-wrap: wrap !important;
  
  
    justify-content: center;
    flex-direction: row !important;
    gap: 2em; /* space between cards */
    p {
      display: none !important;
    }
  
    .node-ResizableImage {
      display: flex;
      width: fit-content;
      flex: 0 0 5%;
      // min-height: 100%;
      // min-height: 100%;
  
      .react-component {
        width: 100% !important;
        height: 100% !important;
  
        img {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  
    .content {
      display: inherit;
      flex-wrap: inherit;
      flex-direction: inherit;
      gap: inherit;
      justify-content: inherit;
    }
  
    .node-draggableItem {
      flex: 1 1 calc(25% - 1em) !important;
    }
  
    .image-card {
      flex: 1 1 calc(25% - 1em) !important;
    }
  
    .draggable-item {
      flex-direction: column;
      //border: 1px solid #CAD0D2;
      flex: 0 1 calc(20% - 1em);
      > div {
        height: 100% !important;
      }
      > .content div:first-child {
        height: 100% !important;
      }
      pre {
        height: 100% !important;
      }
      p {
        display: block !important;
      }
    }
  }
  
  .background-landing {
    height: 100ch;
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
  
    > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-left: 10em;
      padding-right: 10em;
      letter-spacing: -1.6px;
    }
  
    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center !important;
      justify-content: center !important;
      backdrop-filter: blur(5px);
    }
  }
  
  .cta {
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
  
    > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      letter-spacing: -1.6px;
    }
  
    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center !important;
      justify-content: center !important;
      backdrop-filter: blur(5px);
    }
  }
  
  .radial-card-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(16 16 50) !important;
    justify-content: center !important;
    align-items: center;
    border: 1px solid rgb(255 255 255 / 5%) !important;
    border-radius: 1.5rem;
    gap: 1rem;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.2) 1px,
      transparent 1px
    ) !important;
    background-position: 50% 50%;
    background-size: 1.1rem 1.1rem;
    padding: 0rem !important;
  
    border-radius: 1.25rem;
    .node-ResizableImage {
      width: fit-content;
      flex: 0 0 20%;
      min-height: 0;
  
      .react-component {
        width: 100% !important;
        height: 100% !important;
  
        img {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
    .content {
    }
    > div {
      flex: 1 1 0px;
      height: 100% !important;
      align-self: stretch;
    }
    .content div:first-child {
      height: fit-content;
      justify-content: flex-start !important;
    }
  }
  
  .inside-magic {
    background: var(--color-2);
    min-height: 100%;
    margin-top: 0px;
  }
  
  .inside-magic p {
    display: block !important;
  }
  
  .inside-magic br {
    display: block !important;
  }
  
  .magic-card {
  
  
  
    border-radius: 0.5rem;
    z-index: 1;
    position: relative;
    padding-top: 0 !important;
  
    .draggable-image-item {
      display: flex;
      width: fit-content;
      flex: 1 1 10%;
      min-height: 100%;
  
  
        width: 100% !important;
        height: 100% !important;
  
        img {
          width: 100% !important;
          height: 100% !important;
        }
      
    }
  
    // div {
    //   height: 100% !important;
    // }
  }
  
  .magic-image-card {
    @extend .magic-card;
    padding-top: 1em !important;
    padding: 1em;
    display: flex;
    .img {
      flex: 1 1 10px;
    }
  
    // div {
    //   height: 100% !important;
    // }
  }
  
  
  
  
  
  .magic-card p {
    display: none;
  }
  
  .magic-card br {
    display: none;
  }
  
  .magic-card:hover {
    color: rgb(88, 199, 250);
    transition: color 1s;
  }
  
  .magic-card::before,
  .magic-card::after {
    content: "";
    position: absolute;
    inset: -0.5rem;
    z-index: -1;
    background: conic-gradient(
      from var(--gradient-angle),
      $color-3,
      $color-4,
      $color-5,
      $color-4,
      $color-3
    );
    border-radius: inherit;
    animation: rotation 10s linear infinite;
  }
  
  .magic-card::after {
    filter: blur(3.5rem);
  }
  
  @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .general-card {
    background-color: rgba(255, 255, 255, 0.015);
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1),
      0 0 0 1px rgba(255, 255, 255, 0.1);
    padding: 56px 16px 16px 16px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.25s;
    height: 100%;
  }
  
  .card-one {
    border-radius: 10px;
    border: 2px solid darken($color-1, 10%);
  }
  
  .glass-card-one {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(red($color-1), green($color-1), blue($color-1), 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  .card-two {
    border-radius: 10px;
    border: 2px solid darken($color-2, 10%);
  }
  
  .glass-card-two {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(red($color-2), green($color-2), blue($color-2), 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  .card-three {
    border-radius: 10px;
    border: 2px solid darken($color-3, 10%);
  }
  
  .glass-card-three {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(red($color-3), green($color-3), blue($color-3), 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  .card-four {
    border-radius: 10px;
    border: 2px solid darken($color-4, 10%);
  }
  
  @keyframes rotation {
    0% {
      --gradient-angle: 0deg;
    }
    100% {
      --gradient-angle: 360deg;
    }
  }
  
  .button {
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    font-size: 14px;
    padding: 2em;
    // letter-spacing: 5px;
    color: white;
    border: solid 4px transparent;
    border-image: linear-gradient(45deg, pink, skyblue);
    border-image-slice: 1;
    background: linear-gradient(45deg, pink, skyblue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    + br {
      display: none; // or any other styles you want to apply
    }
  
  }
  
  .border-button {
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    font-size: 14px;
    padding: 2em;
    // letter-spacing: 5px;
    color: white;
    border: solid 4px transparent;
    border-image: linear-gradient(45deg, pink, skyblue);
    border-image-slice: 1;
    background: linear-gradient(45deg, pink, skyblue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .border-button {
    // Your styles here...
  
    + br {
      display: none; // or any other styles you want to apply
    }
  }
  
  .gradient-button {
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    padding: 2em;
    font-size: 14px;
    // letter-spacing: 5px;
    color: white;
    border: solid 4px transparent;
    border-image: linear-gradient(45deg, pink, skyblue);
    border-image-slice: 1;
    color: white;
    background-image: linear-gradient(90deg, #7b81ec, #3bd1d3);
    + br {
      display: none; // or any other styles you want to apply
    }
  }
  
  .gradient-blur-button {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    + br {
      display: none; // or any other styles you want to apply
    }
    
  }
  
           
  .btn-grad {
    background-image: linear-gradient(to right, #3A1C71 0%, #D76D77  51%, #3A1C71  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    + br {
      display: none; // or any other styles you want to apply
    }
  }
  
  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
  }
  
  
  @media (max-width: 768px) {
    .border-button {
      display: flex;
      max-width: 100%;
    }
  
  
    .background-landing {
      height: 100ch;
      display: block;
      justify-content: center;
      align-items: center;
      opacity: 0.8;
      > h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        padding-left: 0em;
        padding-right: 0em;
        letter-spacing: -1.6px;
      }
      .content {
        height: 100%;
        display: flex !important;
        font-size: 5px;
        flex-direction: column !important;
        gap: 10em;
        word-wrap: break-word;
        flex: 0 0 calc(100% - 1em) !important; // Adjust width to 100% on small devices
      }
    }
  
    .cta {
      display: block;
      justify-content: center;
      align-items: center;
      opacity: 0.8;
      > h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        padding-left: 0em;
        padding-right: 0em;
        letter-spacing: -1.6px;
      }
      .content {
        height: 100%;
        display: flex !important;
        font-size: 5px;
        flex-direction: column !important;
        gap: 10em;
        word-wrap: break-word;
        flex: 0 0 calc(100% - 1em) !important; // Adjust width to 100% on small devices
      }
    }
  
    .draggable-grid {
      .draggable-item {
        flex-direction: column;
        flex: 0 1 calc(100% - 1em); // Adjust width to 100% on small devices
      }
    }
  
    .extend-width-full-page {
  
      display: flex;
    }
  
    .radial-card-content {
      .content div:first-child {
        height: fit-content !important; // Adjust height for small devices
        display: flex;
        gap: 1em !important;
        flex-direction: column !important;
      }
    }
  
  
  
    .draggable-logo-grid .content {
      display: flex !important;
      flex-flow: inherit;
      gap: inherit;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
  }
  
  @media (max-width: 1024px) {
    .draggable-grid {
      .draggable-item {
        flex: 0 1 calc(50% - 1em); // Adjust width to 50% on medium devices
      }
    }
  
    .radial-card-content {
      .content div:first-child {
        height: 450px; // Adjust height for medium devices
      }
    }
  
   
  }
    
  .ProseMirror {
    > * + * {
      margin-top: 0.75em;
    }
  
    pre {
      background: #0d0d0d;
      border-radius: 0.5rem;
      color: #fff;
      font-family: "JetBrainsMono", monospace;
      padding: 0.75rem 1rem;
  
      code {
        background: none;
        color: inherit;
        font-size: 0.8rem;
        padding: 0;
      }
  
      .hljs-comment,
      .hljs-quote {
        color: #616161;
      }
  
      .hljs-variable,
      .hljs-template-variable,
      .hljs-attribute,
      .hljs-tag,
      .hljs-name,
      .hljs-regexp,
      .hljs-link,
      .hljs-name,
      .hljs-selector-id,
      .hljs-selector-class {
        color: #f98181;
      }
  
      .hljs-number,
      .hljs-meta,
      .hljs-built_in,
      .hljs-builtin-name,
      .hljs-literal,
      .hljs-type,
      .hljs-params {
        color: #fbbc88;
      }
  
      .hljs-string,
      .hljs-symbol,
      .hljs-bullet {
        color: #b9f18d;
      }
  
      .hljs-title,
      .hljs-section {
        color: #faf594;
      }
  
      .hljs-keyword,
      .hljs-selector-tag {
        color: #70cff8;
      }
  
      .hljs-emphasis {
        font-style: italic;
      }
  
      .hljs-strong {
        font-weight: 700;
      }
    }
  }
  
  .callout {
    display: flex;
    align-items: center;
    padding-top: 1em;
    div {
      display: flex !important;
      flex-direction: column;
    }
  }
  
  // table {
  //   /* Add a semi-transparent background */
  //   // background: rgba(255, 255, 255, 0.25);
  
  //   /* Create a border and border radius */
  //   border: 1px solid rgba(255, 255, 255, 0.18);
  //   border-radius: 10px;
  //   background: none !important;
  //   /* Create the blur (this is the glass effect) */
  //   // backdrop-filter: blur(4px);
  
  //   /* Just to center the table on the page */
  //   margin: auto;
  // }
  
  th,
  td {
    /* Add padding to cells */
    padding: 10px 20px !important;
    background: none !important;
    /* Create a semi-transparent border for cells */
    border: none !important;
  }
  
  tr {
    background-color: none !important;
    background: none !important;
  }
  
  th {
    /* Add a background color to header cells */
    background-color: transparent !important;
  }
  
  .selectedCell {
    background-color: transparent !important;
    background: none !important;
  }
  
  .gradient-hover-card-one {
    background-color: rgba(255, 255, 255, 0.015);
    border-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05), 0px 8px 15px rgba(0, 0, 0, 0.1),
      0 0 0 1px rgba(255, 255, 255, 0.1);
    padding: 56px 16px 16px 16px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    height: fit-content;
    min-height: 100%;
    transition: box-shadow 0.25s;
  }
  
  .gradient-hover-card-one::before {
    transition: opacity 0.5s;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
  
    width: 20%;
    height: 20%;
    background: radial-gradient(circle at top right, $color-1, transparent);
    filter: blur(110px);
    z-index: 2;
  }
  
  .gradient-hover-card-one:hover::before {
    top: 0;
    right: 0;
    width: 30%;
    height: 30%;
    border-radius: 25px;
    opacity: 1;
    animation: rotate 15s linear infinite;
  }
  
  .gradient-hover-card-two {
    @extend .gradient-hover-card-one;
  }
  
  .gradient-hover-card-two:before {
    transition: opacity 0.5s;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
  
    width: 20%;
    height: 20%;
    background: radial-gradient(circle at top right, $color-2, transparent);
    filter: blur(110px);
    z-index: 2;
  }
  
  .gradient-hover-card-two:hover::before {
    top: 0;
    right: 0;
    width: 30%;
    height: 30%;
    border-radius: 25px;
    opacity: 1;
    animation: rotate 15s linear infinite;
  }
  
  .gradient-hover-card-three {
    @extend .gradient-hover-card-one;
  }
  
  .gradient-hover-card-three:before {
    transition: opacity 0.5s;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
  
    width: 20%;
    height: 20%;
    background: radial-gradient(circle at top right, $color-3, transparent);
    filter: blur(110px);
    z-index: 2;
  }
  
  .gradient-hover-card-three:hover::before {
    top: 0;
    right: 0;
    width: 30%;
    height: 30%;
    border-radius: 25px;
    opacity: 1;
    animation: rotate 15s linear infinite;
  }
  
  .gradient-hover-card-four {
    @extend .gradient-hover-card-one;
  }
  
  .gradient-hover-card-four:before {
    transition: opacity 0.5s;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
  
    width: 20%;
    height: 20%;
    background: radial-gradient(circle at top right, $color-4, transparent);
    filter: blur(110px);
    z-index: 2;
  }
  
  .gradient-hover-card-four:hover::before {
    top: 0;
    right: 0;
    width: 30%;
    height: 30%;
    border-radius: 25px;
    opacity: 1;
    animation: rotate 15s linear infinite;
  }
  
  .gradient-hover-card-five {
    @extend .gradient-hover-card-one;
  }
  
  .gradient-hover-card-five:before {
    transition: opacity 0.5s;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
  
    width: 20%;
    height: 20%;
    background: radial-gradient(circle at top right, $color-5, transparent);
    filter: blur(110px);
    z-index: 2;
  }
  
  .gradient-hover-card-five:hover::before {
    top: 0;
    right: 0;
    width: 30%;
    height: 30%;
    border-radius: 25px;
    opacity: 1;
    animation: rotate 15s linear infinite;
  }
  
  .flex-img {
    padding: 10px; 
    background-color: blue;
    height: 50px !important;
    
    img {
      background-color: blue;
      height: 50px !important;
    }
  }
  
  .extend-width-full-page {
    width: 100vw !important;  
  }
  
  .extend-height-full-page {
    height: 100vw;
  }
  
  .extend-half-page {
    .node-ResizableImage {
      height: auto;
      width: auto;
    }
  }
  
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  