@media (max-width: 767px) {



    .dev-docs-landing {
        max-width: 100vw !important;

        // .draggable-grid {
        //     display: flex !important;
        //     flex-wrap: wrap !important;
        //     min-height: 20em;
        //     justify-content: flex-start !important;
        //     // flex-direction: column !important;
        //     gap: 0.4em !important;
        //     max-width: 100vw !important;
        //     }
//yeah

        min-height: 320ch !important;
        display: flex !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        opacity: 1;
        height: 100ch;
        display: block;
        justify-content: center;
        align-items: center;
        opacity: 0.8;

        .table-of-contents {
          display: none;
        }
        .btn-group {
          margin-top: 5rem !important;
          // display: flex !important;
          // flex-direction: column !important;
          p {
            display: flex;
            flex-direction: column;
          }
        }
        > h1 {
            color: #FAFAFA;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: Inter;
            font-size: 2.5rem !important;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.0125rem;
          a {
            color: #cecef8;
          }
        }

        .integration-grid {
          max-width: 100vw !important;
        }

        .desktop {
            max-width: 100vw !important;
        }

        .mobile {
          display: flex !important;
        }

        h1 {
            color: #FAFAFA;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: Inter;
            font-size: 2.5rem !important;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.0125rem;
        }

        > h2,
        h3,
        h4,
        h5,
        h6 {
          // padding-left: 10em;
          // padding-right: 10em;
          // letter-spacing: -1.6px;
        }

        > .content {
          padding-left: 10em;
          padding-right: 10em;
          display: flex;
          flex-direction: column;
          max-width: 100vw;
          height: 100% !important;
          flex-shrink: 0;
          align-items: flex-start;
          justify-content: flex-start;
          // backdrop-filter: blur(5px);
        }

        > h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          padding-left: 0em;
          padding-right: 0em;
          letter-spacing: -1.6px;
        }


        .draggable-logo-grid .node-ResizableImage .react-component {
            width: 2.6875rem !important;
            height: 2.6875rem !important;
            flex-shrink: 0 !important;
        }

        .draggable-grid {
          h1 {
            font-size: 1.6rem !important
          }
        }
      }

      [id="Launch your Documents"], [id="with <a href=&quot;https://dev-docs.io&quot; >Dev-Docs</a>"]
      {
        font-size: 4.88313rem;
        font-family: Inter;

        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.02444rem;
        a {
          color: #cecef8;
        }
      }

      [id="We are a documentation platform that helps developers generate, query, and search documentation using AI."] {
        // Your styles here
        font-family: Inter;

        font-size: 1.28rem !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 100vw;
      }

      .main-btn {
        border-radius: 0.4375rem;
        border: 2px solid #a4fad1;
        background: #031a0f;
      }
      [id="Why Dev-Docs?"] {
        margin-top: 3.5em;
        text-align: center;
        color: #ddd;
        text-align: center;
        font-family: Inter;
        font-size: 3.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      [id="Integrates with the tools you love"] {
        color: #ddd;
        font-family: Inter;
        font-size: 1.28rem !important;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .integration-grid {
        background: transparent !important;
        padding-left: unset !important;
        padding-top: 2rem !important;
        margin-bottom: 5.12rem !important;
        .content {
          padding: 0px !important;
        }
      }

      .draggable-grid {
        h1 {
          color: #ddd;
          font-family: Inter;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .general-card {
          border-radius: 0.4375rem;
          border: 1px solid rgba(54, 59, 69, 0.5);
          background: #0b101a;
        }
      }

      .second-hero {
        // background-color: #0B101A !important;
        // border-radius: 44.0625rem;
        background-image: url("/img/Ellipse.png") !important;
        background-position: top left;
        background-repeat: no-repeat !important;
        max-width: 100vw !important;
        h1 {
          font-size: 1.6rem;
        }
        // padding: unset !important;
        .draggable-logo-grid {
          max-width: 100vw;
          flex-direction: column-reverse !important;
          .content {
            flex-wrap: wrap !important;
          }
        }
      }



      .third-hero {
        // background-color: #0B101A !important;
        // border-radius: 44.0625rem;
        background-image: url("/img/dev-docs-assets/internalbglanding.png") !important;
        background-position: top left;
        background-repeat: no-repeat !important;
        background-color: #eee !important;
        h1, h2, h3, h4, h5, h6, p {
          color: #222731 !important;
        }
        .draggable-item {
          box-shadow: unset !important;
        }
        .draggable-logo-grid {
          max-width: 100vw;
          flex-direction: column-reverse !important;
          .content {
            flex-wrap: wrap !important;
          }
        }
        // padding: unset !important;
      }

      .fourth-hero {
        display: none !important;
        // background-color: #0B101A !important;
        // border-radius: 44.0625rem;
        // background-image: url("/img/dev-docs-assets/internalbglanding.png") !important;
        // background-position: top right !important;
        // background-repeat: no-repeat !important;
        background-color: transparent !important;
      flex-shrink: 0;
      max-width: 100vw;
      border-radius: 0.4375rem;
      background: #CDCDCD;
        h1, h2, h3, h4, h5, h6, p {
          color: #222731 !important;
        }

        .draggable-item {
          box-shadow: unset !important;
        }


        > .content {
          padding-left: 10em !important;
          padding-right: 10em !important;
          max-width: 80%;
          display: flex;
          flex-direction: column;
          height: 93.25rem;
          flex-shrink: 0;
          height: 26.875rem;
          align-items: flex-start;
          justify-content: flex-start;
          max-width: 100vw;
          // backdrop-filter: blur(5px);
        }

        .test {
          width: 101.75rem;
      height: 26.875rem;
      flex-shrink: 0;
      border-radius: 0.4375rem;
      background: #CDCDCD;
        }

      }

      .filler-card {
        background-color: transparent !important;
        height: 100%;
      }

      .second-hero-text {
        padding-left: unset !important;
        padding-right: unset !important;
        max-height: 25vh;
      }

      [id="Make it easy for"],
      [id="internal documentation"],
      [id="Want to talk?"], [id="World Class Developer Docs"], [id="powered by AI"] {
        color: #eee;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Inter;
        font-size: 2rem !important;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.0195rem;
      }

      .image-container {
        // background: red !important;
        min-width: 80vw !important;
        padding: unset !important;
      }

      .iframe-wrapper {
        iframe {
          width: 100% !important;
          min-height: 20vw !important;
        }
      }

      .contact {
        border-radius: 0.4375rem !important;
        width: 101.75rem;
        height: 26.875rem;
        width: 101.75rem;
      height: 26.875rem;
      flex-shrink: 0;
      background: #0b101a !important;
      }

      .contact-btn {
        box-shadow: -2px -2px 13px 0px rgba(57, 0, 255, 0.80) inset;
        filter: drop-shadow(0px 0px 40px #4015D4);
      }


}