[data-theme="dark"] .navbar--fixed-top {
  position: sticky;
  color: white;
  top: 0;
  height: 7.375rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(8 28 69 / 30%);
}

[data-theme="light"] .navbar--fixed-top {
  position: sticky;
  color: black;
  top: 0;
  height: 7.375rem;
  z-index: var(--ifm-z-index-fixed);
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.34);
}

.navbar {
  @media (min-width: 1400px) {
    padding-left: 12em;
    padding-right: 12em;
  }
}

// .navbar--fixed-top {
//   position: sticky;
//   top: 0;
//   height: 7.375rem;
//   z-index: var(--ifm-z-index-fixed);
//   backdrop-filter: blur(16px) saturate(180%);
//   -webkit-backdrop-filter: blur(16px) saturate(180%);
//   background-color: white;
//   border: 1px solid rgba(255, 255, 255, 0.125);
// }


@media (max-width: 767px) {
  .navbar__title {
    display: none !important;
  }
}

.navbar__logo {
  min-width: 1.84588rem;
  min-height: 1.6875rem;
  // max-height: 2rem;
  // max-width: 2rem;
  flex-shrink: 0;
  img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

#__docusaurus>nav>div.navbar__inner>div.navbar__items.navbar__items--right>div.toggle_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module.colorModeToggle_node_modules-\@docusaurus-theme-classic-lib-theme-Navbar-Content-styles-module>button>svg.lightToggleIcon_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module {
  color: black;
}