[data-theme="dark"] .navbar--fixed-top {
  position: sticky;
  color: white;
  top: 0;
  height: 4.375rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(8 28 69 / 30%);
  .navbar__inner {
    background-size: 100% 200%;
    overflow: visible;
    border: none;
  }
  //   z-index: var(--ifm-z-index-fixed);
}

[data-theme="light"] .navbar--fixed-top {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.34);
  color: black;
}

.navbar--fixed-top {
  position: sticky;
  top: 0;
  height: 4.375rem;
  z-index: var(--ifm-z-index-fixed);
  .navbar__inner {
    background-size: 100% 200%;
    overflow: visible;
    border: none;
  }
}

.navbar--fixed-top {
  height: 4.375rem;
}

[class^="toggle"] {
  width: 4rem !important;
}

[class^="search"] {
  border: none !important;
  kbd {
    color: transparent !important;
  }
}

[data-theme="dark"] .navbar__items--right {
  [class^="toggle"] {
    .clean-btn {
      position: relative;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 10px;
      background-image: url("../../static/buttons/darkslider.svg") !important;
      background-position: center;
      background-repeat: no-repeat;
      svg {
        display: none;
      }
      .clean-btn:hover {
        background-color: transparent !important;
      }
    }
  }
}

[class^="announcementBar"] {
  z-index: 200;
}

.navbar__items--right {
  [class^="toggle"] {
    .clean-btn {
      position: relative;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 10px;
      background-image: url("../../static/buttons/slider.svg");
      background-position: center;
      background-repeat: no-repeat;
      svg {
        display: none;
      }

      .clean-btn:hover {
        background-color: transparent !important;
      }
    }
  }
}

[data-theme="dark"] .navbar-sidebar__brand {
  [class^="toggle"] {
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-image: url("../../static/buttons/darkslider.svg") !important;
    background-position: center;
    background-repeat: no-repeat;
    svg {
      display: none;
    }

    svg:hover {
      background-color: red !important;
    }
  }

  .clean-btn:hover {
    background-color: transparent !important;
  }
}

.navbar-sidebar__brand {
  [class^="toggle"] {
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-image: url("../../static/buttons/slider.svg") !important;
    background-position: center;
    background-repeat: no-repeat;
    svg {
      display: none;
    }

    .clean-btn:hover {
      background-color: transparent !important;
    }
  }
}



.navbar {
  max-width: 100vw;

  @media (min-width: 1400px) {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media (max-width: 767px) {
  .navbar__title {
    display: none !important;
  }
}

.navbar__logo {
  min-width: 1.84588rem;
  min-height: 1.6875rem;
  flex-shrink: 0;

  img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

#__docusaurus
  > nav
  > div.navbar__inner
  > div.navbar__items.navbar__items--right
  > div.toggle_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module.colorModeToggle_node_modules-\@docusaurus-theme-classic-lib-theme-Navbar-Content-styles-module
  > button
  > svg.lightToggleIcon_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module {
  color: black;
}
