

// :root {
//   --ifm-color-primary: $color-1;
//   --ifm-color-primary-dark: #4600dd;
//   --ifm-color-primary-darker: #4200d0;
//   --ifm-color-primary-darkest: #3700ab;
//   --ifm-color-primary-light: #5b0fff;
//   --ifm-color-primary-lighter: #631bff;
//   --ifm-color-primary-lightest: #7c40ff;
//   --ifm-code-font-size: 95%;
//   --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
// }


$primary: $color-1;
$light-darkest: $color-1-11;
$light-darker: $color-1-10;
$light-dark: $color-1-9;
$light-light: $color-1-8;
$light-lighter: $color-1-7;
$light-lightest: $color-1-6;

$dark-lightest: $color-1-1;
$dark-lighter: $color-1-2;
$dark-light: $color-1-3;
$dark-dark: $color-1-4;
$dark-darker: $color-1-5;
$dark-darkest: $color-1-6;

:root {
  --ifm-color-primary: #{$color-1}; ;
  --ifm-color-primary-dark: #{$light-dark};
  --ifm-color-primary-darker: #{$light-darker};
  --ifm-color-primary-darkest: #{$light-darkest};
  --ifm-color-primary-light: #{$light-light};
  --ifm-color-primary-lighter: #{$light-lighter};
  --ifm-color-primary-lightest: #{$light-lightest};
}

[data-theme="dark"] {
  --ifm-color-primary: #{$color-1};
  --ifm-color-primary-dark: #{$dark-dark};
  --ifm-color-primary-darker: #{$dark-darker};
  --ifm-color-primary-darkest: #{$dark-darkest};
  --ifm-color-primary-light: #{$dark-light};
  --ifm-color-primary-lighter: #{$dark-lighter};
  --ifm-color-primary-lightest: #{$dark-lightest};
}

[data-theme="dark"] #__docusaurus_skipToContent_fallback > div {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: none;
}

[data-theme="dark"] #docusaurus_skipToContent_fallback > div {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75) !important;
  border: none;
}

html, body {
   height: 100%;
  max-width: 100vw !important;
}

#__docusaurus_skipToContent_fallback > main > pre {
  position: fixed;
  opacity: 0;
  height: 10px;
  width: 10px;
  overflow: scroll;
  padding: 0px;
  margin: 0px;
  top: -10px;
}

// #__docusaurus {
//   background-image: radial-gradient(circle at 280% 1%, $primary 3%, transparent 71%) !important;
// }

// #__docusaurus {
//   @media (max-width: 1024px) {
//     background-image: radial-gradient(circle at 500% 1%, $primary 3%, transparent 71%, rgba(0, 0, 0, 0.1)) !important;
//   }

//   @media (max-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
//     background-image: radial-gradient(circle at 500% 1%, $primary 3%, transparent 71%, rgba(0, 0, 0, 0.1)) !important;
//   }
// }

#__docusaurus {
  background-image: radial-gradient(circle at 300vw 1px, $color-1 3%, transparent 225vw) !important;
  max-width: 100vw !important;
  overflow-x: hidden !important;
}

// .docPage_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-styles-module {
//   @media (min-width: 1400px) {
//     padding-left: 12em;
//     padding-right: 12em;
//   }
// }

[class^="docPage"] {
  @media (min-width: 1400px) {
    padding-left: 12em;
    padding-right: 12em;
  }

  img {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
  /* Styles for elements with a class that starts with "word" */
}


// .#__docusaurus_skipToContent_fallback > div > div > main > article > header > h1 {
//   display: none;
// }


// #__docusaurus {
//   @media (max-width: 1024px) {
//     background-image: radial-gradient(circle at 500px 1px, $primary 3%, transparent 71%, rgba(0, 0, 0, 0.1)) !important;
//   }

//   @media (max-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
//     background-image: radial-gradient(circle at 500px 1px, $primary 3%, transparent 71%, rgba(0, 0, 0, 0.1)) !important;
//   }
// }

[itemprop="blogPost"] {
  header {
    display: none;
  }
}