

// :root {
//   --ifm-color-primary: $color-1;
//   --ifm-color-primary-dark: #4600dd;
//   --ifm-color-primary-darker: #4200d0;
//   --ifm-color-primary-darkest: #3700ab;
//   --ifm-color-primary-light: #5b0fff;
//   --ifm-color-primary-lighter: #631bff;
//   --ifm-color-primary-lightest: #7c40ff;
//   --ifm-code-font-size: 95%;
//   --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
// }


$primary: $color-1;
$light-darkest: $color-1-11;
$light-darker: $color-1-10;
$light-dark: $color-1-9;
$light-light: $color-1-8;
$light-lighter: $color-1-7;
$light-lightest: $color-1-6;

$dark-lightest: $color-1-1;
$dark-lighter: $color-1-2;
$dark-light: $color-1-3;
$dark-dark: $color-1-4;
$dark-darker: $color-1-5;
$dark-darkest: $color-1-6;

:root {
  --ifm-color-primary: #{$color-1};
  --ifm-color-primary-dark: #{$light-dark};
  --ifm-color-primary-darker: #{$light-darker};
  --ifm-color-primary-darkest: #{$light-darkest};
  --ifm-color-primary-light: #{$light-light};
  --ifm-color-primary-lighter: #{$light-lighter};
  --ifm-color-primary-lightest: #{$light-lightest};
  --ellipis-color: #{$color-1};
  --ellipis-transparency: 80%
}

[data-theme="dark"] {
  --ifm-color-primary: #{$color-1};
  --ifm-color-primary-dark: #{$dark-dark};
  --ifm-color-primary-darker: #{$dark-darker};
  --ifm-color-primary-darkest: #{$dark-darkest};
  --ifm-color-primary-light: #{$dark-light};
  --ifm-color-primary-lighter: #{$dark-lighter};
  --ifm-color-primary-lightest: #{$dark-lightest};
  --ellipis-transparency: 12%;
}

// [data-theme="dark"] #__docusaurus_skipToContent_fallback > div {
//   backdrop-filter: blur(16px) saturate(180%);
//   -webkit-backdrop-filter: blur(16px) saturate(180%);
//   background-color: rgba(17, 25, 40, 0.75);
//   border: none;
// }

[data-theme="dark"] #__docusaurus__skipToContent__fallback > div {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: radial-gradient(circle at 50% 50%, #ff3366, #c766ff, #ff3366);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
  border: none;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.spark-circle {
  background: #FFF;
  .rounded-full {
    background: $color-1 !important;
    background-color: $color-1 !important;
    border-color: $color-1 !important; 
  }
}

[data-theme="dark"] #docusaurus_skipToContent_fallback > div {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75) !important;
  border: none;
}

html, body {
  //  height: 100%;
  // max-width: 100vw !important;
  overflow-x: hidden;
}

#__docusaurus_skipToContent_fallback > main > pre {
  position: fixed;
  opacity: 0;
  height: 10px;
  width: 10px;
  overflow: scroll;
  padding: 0px;
  margin: 0px;
  top: -10px;
}

// #__docusaurus {
//   background-image: radial-gradient(circle at 280% 1%, $primary 3%, transparent 71%) !important;
// }

// #__docusaurus {
//   @media (max-width: 1024px) {
//     background-image: radial-gradient(circle at 500% 1%, $primary 3%, transparent 71%, rgba(0, 0, 0, 0.1)) !important;
//   }

//   @media (max-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
//     background-image: radial-gradient(circle at 500% 1%, $primary 3%, transparent 71%, rgba(0, 0, 0, 0.1)) !important;
//   }
// }

// #__docusaurus {
//   // background-image: radial-gradient(circle at 300vw 1px, $color-1 3%, transparent 225vw) !important;
//   max-width: 100vw !important;
//   overflow-x: hidden !important;
//   // background: red;
// }

// [data-theme="dark"] #__docusaurus {
//   background: radial-gradient(ellipse 349px 354px at 60% 30%, rgba(#C070FF, var(--ellipis-transparency)) 40%, transparent 90%) no-repeat;
//   // background-color: black;
//   background-size: 100% 200%;
//   animation: gradientAnimation 10s ease infinite;
//   overflow: visible;
//   border: none;

// }

[data-theme="dark"] #__docusaurus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60vh; /* Adjust this value as needed */
  background: radial-gradient(ellipse 349px 354px at 60% 40%, rgba(#C070FF, var(--ellipis-transparency)) 40%, transparent 90%) no-repeat;
  background-size: 100% 200%;
  animation: gradientAnimation 10s ease infinite;
  z-index: -1;
}

.docPage_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-styles-module {
  @media (min-width: 1400px) {
    // padding-left: 12em;
    // padding-right: 12em;
  }
}

// [data-theme="dark"] [class^="docPage"] {
//   background: radial-gradient(ellipse 315.122px 352.987px at 80% 40%, rgba(#FF7070, var(--ellipis-transparency)) 40%, transparent 90%) no-repeat;
//   // background-color: black;
//   background-size: 100% 200%;
//   animation: gradientAnimation 10s ease infinite;
//   overflow: visible;
//   border: none;

// }

[data-theme="dark"] [class^="docPage"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70vh; /* Adjust this value as needed */
  background: radial-gradient(ellipse 315.122px 352.987px at 80% 50%, rgba(#4E00F4, var(--ellipis-transparency)) 40%, transparent 90%) no-repeat;
  background-size: 100% 200%;
  animation: gradientAnimation 10s ease infinite;
  z-index: -1;
}

[class^="docPage"] {
  position: relative;
  background-color: rgba(255, 255, 255, 0.68);
  overflow: visible;
  border: none;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  border-radius: 12px;
  // border: 1px solid rgba(209, 213, 219, 0.3);
}

[data-theme="light"] [class^="docPage"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px; /* Adjust this value as needed */
  background: radial-gradient(ellipse 50vw 80px at 95% 40%, rgba(#ff83e2, 20%) 40%, transparent 95%);
  background-size: 100% 200%;
  animation: gradientAnimation 10s ease infinite;
  z-index: -1;
}


#__docusaurus {
  position: relative;
  overflow: visible;
  border: none;
}

[data-theme="light"] #__docusaurus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px; /* Adjust this value as needed */
  background: radial-gradient(ellipse 50vw 80px at 70% 40%, rgba(#3d3ada, 20%) 40%, transparent 95%);
  background-size: 100% 200%;
  animation: gradientAnimation 10s ease infinite;
  z-index: -1;
}

[class^="docPage"] {
  @media (min-width: 1400px) {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
  }
  background-color: transparent;
  // backdrop-filter: blur(16px) saturate(10%);
  // -webkit-backdrop-filter: blur(16px) saturate(10%);


  img {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
  /* Styles for elements with a class that starts with "word" */
}



