
// import design-preferences.scss

@import "./design-preferences.scss";

.menu__link--active:not(.menu__link--sublist) {
  border-radius: 7px;
  background: $color-1-1;
  color: $color-1;

  /* Navigation Selected */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.322px;
}

menu__link {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.322px;
}
