{
  "openapi": "3.0.0",
  "info": {
    "title": "Sample API",
    "description": "Optional multiline or single-line description in CommonMark or HTML.",
    "version": "0.1.9"
  },
  "servers": [
    {
      "url": "https://api.devdocsapp.com",
      "description": "Optional server description, e.g. Main (production) server"
    }
  ],
  "paths": {
    "/company/apitokentesting/audit": {
      "post": {
        "summary": "Audit API",
        "description": "API to audit documents for spelling and grammatical errors.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditRequest"
              }
            }
          },
          "example": {
            "apiKey": "YOUR KEY",
            "folders": [
              "docs/styling"
            ],
            "codeObjects": {},
            "audits": [
              "Find and fix spelling and grammatical errors"
            ]
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuditRequest": {
      "type": "object",
      "properties": {
        "apiKey": {
        "type": "string",
        "description": "API key for authentication"
        },
        "folders": {
        "type": "array",
        "description": "List of folders to audit",
        "items": {
          "type": "string"
        }
        },
        "codeObjects": {
        "type": "object",
        "description": "Code objects to audit"
        },
        "audits": {
        "type": "array",
        "description": "List of audit types to perform",
        "items": {
          "type": "string"
        }
        }
      },
      "required": ["apiKey", "audits"],
      "example": {
        "apiKey": "your key",
        "folders": [
        "docs/styling"
        ],
        "codeObjects": {},
        "audits": [
        "Find and fix spelling and grammatical errors"
        ]
      }
      }
    }
  }
}